
#register-form{
	display: none;
}

.panel-default > .panel-heading{
	border-bottom: solid 1px #242f3a;
}
.panel-default{
	margin-top: 15px;
	border: solid 1px #242f3a;
}
.inputFecha{
	width: 350px;
	position: relative;
	margin-left: 15px;
}
.calendarFecha{
	position: relative;
	margin-left: 15px;
}