.contenido{
	
	_background-color: red;
	overflow: hidden;
}

.contenido a {
	text-decoration: none;
}
.contenido a .list-menu{
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.contenido a .list-menu{
	float: left;
	width: 250px;
	height: 130px;
	text-align: center;
}
.contenido a .list-menu:hover{
	background-color: #242f3a;
	color: #fff;
}

.top-list-reportes{
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

/********************************************************************************************/

/*div de contenido general*/
.contenido-general{
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	
}
.div-tables-users{
	_background-color: blue;
}
/*fin div de contenido general*/

.div-not-users{
	text-align: center;
	_background-color: red;
}
/**********************************************************************************************/
/*div para buscar*/
.search{
	_background-color: green;
	_height: 50px;
	_padding-top: 5px;

}
/*fin div buscar usuarios */

.mensaje{
	display: none
}