.citaContent{
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
.citaContent{
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.from-group .divficha{
	display: inline-block;
	width: 50%;
}
.from-group .divHora{
	display: inline-block;
	width: 49%;
}
#radioUser input{
	width:15px;
	height:15px;
	margin-top: 10px;
}
#radioUser img{

	margin-top: -10px;
}